* {
  font-size: 20px;
  margin: 0;
}

html,
body {
  height: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  font-size: larger;
  border: 1px solid #ddd;
  padding: 8px;
}

table td img {
  height: clamp(10vh, 150px, 30vh);
}

table td img:hover {
  transform: scale(2);
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04bdb3;
  color: white;
}

#welcome {
  text-align: center;
  font-size: xx-large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error {
  color: red;
}
