* {
  font-size: 25px;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

form {
  display: flex;
  width: 60%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(45deg, #e3fdf5 50%, #ffe6fa 50%);
}

form > input {
  margin: 5px auto;
}

#submit {
  width: 60%;
  background-color: #a8edea;
}

.error {
  display: inline-block;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5px;
}
